header.hw-header(data-id='hw-header')
  h1.hw-header__title.is-hidden Hudwar

  nav.hw-nav
    a.hw-nav__item What's this?
    a.hw-nav__item Survival guide
    a.hw-nav__item Contribute
      span.hw-nav__item-sub the Hudwar is on GitHub
  button.hw-nav__button(data-id='hw-header__button')