doctype html
html
  head
    title HudWar
    meta(charset='utf-8')
    meta(name='description', content='')

    link(href='assets/css/vendor.css', rel='stylesheet')
    link(href='assets/css/main.css', rel='stylesheet')
    script(src='assets/js/vendor.js')
    script(src='assets/js/main.js')
  body
    include partials/header

    main.hw-main
      include content/map
    
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCU0v5s-rJO6jZlJasVHOsfDuDEGprXt8Y&callback=initMap' async defer)